.card{
    position: absolute;
    z-index: 3;
    margin-top: -6rem;
    margin-left: 58rem;
    
    display: inline-flex;
    width: 15rem;
    height: 79px;
    padding: 6.997px 9.329px;
    align-items: center;
    gap: 9.329px;
    padding: 1rem;
    flex-shrink: 0;
    border-radius: 4.664px;
    background: #121212;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
    }
    
    .dp{
        object-fit: cover;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin-right: 2rem;
    }
    .fName{
        color: var(--Black, #fff);
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; 
        margin-top: 3px;
    }
    
    .sName{
        color: var(--7-e-7373, #f6f6f6);
        font-size: 9.664px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: -10px;
    }
    .follow-btn{
        background-color: #F7D046;
        border-radius: 10px;
        font-size: 12px;
        padding: 2px 12px;
        cursor: pointer;
        border: none;
        margin-top: -1px;
    
    }
    @media only screen and (max-width: 600px) {
        main{
          display: none;
        }
    }
    
    @media screen and (max-width: 900px) {
        main{
            display: none;
        }
    }