<div class="container">
    <div class="wrapper">
        <div class="top">
            <p class="top-txt">About Me</p>

        </div>
        <div class="bottom">
            <p class="bottom-txt">
                About Me
                
                I specialize in creating seamless and engaging user interfaces, transforming visions into interactive realities. Passionate about the blend of design and technology, I ensure each application surpasses user expectations.
                
                Fueled by innovation, I stay ahead in industry trends, committed to delivering not just functional applications but memorable digital experiences. Join me as I shape the future of the web, one click at a time.</p>

        </div>
        <div class=".contain">
            <div class="years">
                <p>1</p>
                <p>year of experience</p>

            </div>
            <div class="clients">
                <p>10+</p>
                <p> clients served</p>

            </div>
        </div>
    </div>
</div>
