.container{
    display: flex;
    margin-left: 6rem;
    margin-top: 5rem;
}
@media only screen and (max-width: 600px) {
 .container{
    margin: 2rem 0 0 2rem;
    z-index: 0;
    overflow: hidden;
 }
}