
.second-txt{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--Black, #242A31);
    font-size: 56px;
    width: 36rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}
.stack{
    color: #FABD03;

}

.last-txt{
    color: #c2c2c2;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    width: 34rem;
    height: 4rem;

}
.name-span{
    font-size: 36px;
    font-weight: 400;
    color: #FABD03;
}
.container{
    margin-top: 1rem;
    margin-right: 16rem;
    width: 26rem;
    position: relative;
    z-index: 3;
    
}
.btn{
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 46px;
    font-weight: 560;
    background: #FABD03;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border: solid #FABD03;
    margin-top: 2rem;
}
.btn2{
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 46px;
    font-weight: 600;
    background: #fff;
    color: #3E434A;
    font-size: 16px;
    cursor: pointer;
    border: solid #FABD03;
    margin-top: 2rem;
}
.button-holder{
    display: flex;
    width: 20rem;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .name-span{
        font-size: 20px;
        font-weight: 400;
     
    }
    .second-txt{
        font-size: 32px;
        width: 20rem;

    }
    .last-txt{
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        width: 20rem;
        height: 6rem;
    
    }
    .container{
        width: 100%;
        margin: 0 0 5rem 0;
    }
   }

   /* @media screen and (max-width: 900px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 6rem;
        width: 28rem;  
    }
    .second-txt{
        font-size: 42px;
        text-align: center;
    }
} */