<main class="container">
    <span class="name-span"> {{name}} </span>
    <p class="second-txt">I Create <span class="stack">Front-End</span> Web Applications</p>
    <p class="last-txt">As a forward-thinking creator, I am actively sculpting the digital terrain. My expertise lies in breathing life into captivating Front-End Web Applications, where each click narrates a unique tale</p>
    <div class="button-holder">
        <button class="btn" type="button">Contact Me</button>
        <button class="btn2" type="button">Download CV</button>
    </div>

</main>
