.profile{
    border-radius: 50%;
}
@media only screen and (max-width: 600px) {
    .profile{
      display: none;
    }
}

@media screen and (max-width: 900px) {
    .profile{
        display: none;
    }
}