.wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
.section{
  width: 90%;
  margin: 10% 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;


}
/* .serve{
  width: 23%;
} */

.header{
  color: var(--Black, #242A31);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;

}

.p{
  color: var(--7-e-7373, #7E7373);
  width: 480px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 20px auto;
  line-height: 150%; 
}

#card:hover{
  border-radius: 4px;
  border-color: var(--White, #FFF);
  box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);

}


@media only screen and (max-width: 600px) {
  header{
    font-size: 16px;
    font-weight: 400;
    line-height: 80%;
  
  }
  
  .p{
    width: 330px;
    font-size: 13px;
    line-height: 130%; 
  }
  .card-txt{
    font-size: 13px;
  }
  
}